@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: -apple-system, Roboto, sans-serif, serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;

  --primary-color: #471c72;
  --secondary-color: #5f00bf;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.5rem;
  --transition: 0.3s;

  --bg-color: #fcfcfc;
  --bg-color-1: #cdeeff;
  --bg-color-2: #48d8a4;
  --bg-color-3: #f6e6e0;
  --bg-color-4: #eeb4aa;
  --bg-color-5: #7689d8;
  --bg-color-6: #bf7fbf;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: underline;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

h2,
h3,
h4 {
  margin-bottom: var(--bottom-margin);
}

p {
  line-height: var(--line-height);
}
