.section_container {
  padding: 0.625rem;
  margin-bottom: var(--bottom-margin);
  /* Makes the section take up the whole screen at a minimum */
  min-height: 55rem;
}

.section_heading {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.section_heading h2 {
  margin-bottom: var(--bottom-margin);
}

.section_body {
  margin: var(--bottom-margin);
}

/* Flex box container styles */
.flex_container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem;
  width: 100%;
}

.flex_item {
  flex: 1 0 25%;
}

/* GRID STYLES */
.grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
  .grid_container {
    grid-template-columns: 1fr 1fr;
  }
  .grid_item_focus {
    grid-column: 1 / span 2;
  }
}

@media only screen and (min-width: 850px) {
  .grid_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
