:root {
  --transition-1-path: polygon(0 0, 0 100%, 100% 100%);
  --transition-2-path: polygon(
    33% 75%,
    67% 21%,
    100% 65%,
    100% 100%,
    0 100%,
    0 57%
  );
  --transition-3-path: polygon(
    29% 55%,
    100% 0,
    100% 65%,
    100% 100%,
    0 100%,
    0 19%
  );
  --transition-4-path: polygon(
    33% 75%,
    67% 21%,
    100% 65%,
    100% 100%,
    0 100%,
    0 57%
  );
}

.angle {
  position: relative;
}

.angle:after {
  content: "";
  position: absolute;
}

/* ---------- Transition 1 ---------- */

.angle1 {
  background-color: var(--bg-color-1);
}

.angle1,
.angle1:after {
  height: 80px;
  width: 100%;
}

.angle1:after {
  background-color: var(--bg-color-2);
  border-bottom: 1px var(--bg-color-2) solid;
  clip-path: var(--transition-1-path);
}

/* ---------- Transition 2 ---------- */

.angle2 {
  background-color: var(--bg-color-2);
}

.angle2,
.angle2:after {
  height: 80px;
  width: 100%;
}

.angle2:after {
  background-color: var(--bg-color-3);
  border-bottom: 1px var(--bg-color-3) solid;
  clip-path: var(--transition-2-path);
}

/* ---------- Transition 3 ---------- */

.angle3 {
  background-color: var(--bg-color-3);
}

.angle3,
.angle3:after {
  height: 80px;
  width: 100%;
}

.angle3:after {
  background-color: var(--bg-color-4);
  border-bottom: 1px var(--bg-color-4) solid;
  clip-path: var(--transition-3-path);
}

/* ---------- Transition 4 ---------- */

.angle4 {
  background-color: var(--bg-color-4);
}

.angle4,
.angle4:after {
  height: 80px;
  width: 100%;
}

.angle4:after {
  background-color: var(--bg-color-5);
  border-bottom: 1px var(--bg-color-5) solid;
  clip-path: var(--transition-4-path);
}
