:root {
  --transition-1-path: polygon(
    14% 42%,
    49% 22%,
    80% 63%,
    100% 24%,
    100% 100%,
    0 100%,
    0 29%
  );
  --transition-2-path: polygon(
    33% 75%,
    67% 21%,
    100% 65%,
    100% 100%,
    0 100%,
    0 57%
  );
  --transition-3-path: polygon(
    29% 55%,
    100% 0,
    100% 65%,
    100% 100%,
    0 100%,
    0 19%
  );
  --transition-4-path: polygon(
    40% 47%,
    80% 14%,
    100% 31%,
    100% 100%,
    53% 100%,
    0 100%,
    0 0
  );
  --transition-5-path: polygon(
    23% 28%,
    71% 71%,
    100% 40%,
    100% 100%,
    53% 100%,
    0 100%,
    0 56%
  );
}

.angle {
  position: relative;
}

.angle:after {
  content: "";
  position: absolute;
}

.angle,
.angle:after {
  height: 60px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .angle,
  .angle:after {
    height: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .angle,
  .angle:after {
    height: 40px;
  }
}

/* ---------- Transition 1 ---------- */

.angle1 {
  background-color: var(--bg-color-1);
}

.angle1:after {
  background-color: var(--bg-color-2);
  border-bottom: 1px var(--bg-color-2) solid;
  clip-path: var(--transition-1-path);
}

/* ---------- Transition 2 ---------- */

.angle2 {
  background-color: var(--bg-color-2);
}

.angle2:after {
  background-color: var(--bg-color-3);
  border-bottom: 1px var(--bg-color-3) solid;
  clip-path: var(--transition-2-path);
}

/* ---------- Transition 3 ---------- */

.angle3 {
  background-color: var(--bg-color-3);
}

.angle3:after {
  background-color: var(--bg-color-4);
  border-bottom: 1px var(--bg-color-4) solid;
  clip-path: var(--transition-3-path);
}

/* ---------- Transition 4 ---------- */

.angle4 {
  background-color: var(--bg-color-4);
}

.angle4:after {
  background-color: var(--bg-color-5);
  border-bottom: 1px var(--bg-color-5) solid;
  clip-path: var(--transition-4-path);
}

/* ---------- Transition 5 ---------- */

.angle5 {
  background-color: var(--bg-color-5);
}

.angle5:after {
  background-color: var(--bg-color-6);
  border-bottom: 1px var(--bg-color-6) solid;
  clip-path: var(--transition-5-path);
}
