.section_container {
  padding: 0.625rem;
  margin-bottom: var(--bottom-margin);
}

.section_heading {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.section_heading h2 {
  margin-bottom: var(--bottom-margin);
}

.section_body {
}
