.section {
  padding: 50px 0;
  background-color: var(--bg-color-5);
  min-height: 80vh;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

.headingLink {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.summary,
.articleGrid {
  padding-bottom: 25px;
}

.summary p {
  line-height: var(--line-height);
  padding-bottom: 0.5rem;
}

.sectionImage {
  position: absolute;
  z-index: 1;
  height: 10rem;
  width: 10rem;
  right: 5rem;
}
