p {
  line-height: var(--line-height);
}

.skillsSection {
  padding: 50px 0;
  background-color: var(--bg-color-2);
  min-height: 80vh;
}

.sectionWrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

.headingLink {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/* Terminal */
.terminalWrapper {
  height: 50%;
  padding: 2rem 0 2rem 0;
}

/* leadership */
.leadershipSection {
  padding-bottom: 20px;
}

.leadershipSection h5 {
  font-size: 14px;
}

.leadershipSection h5,
.leadershipSection p {
  padding-bottom: 10px;
}

.leadershipSectionItem {
  padding-left: 15px;
}

@media (min-width: 700px) {
  .leadershipSectionItem {
    padding-left: 30px;
  }
}
