.section {
  padding: 50px 0;
  background-color: var(--bg-color-5);
  min-height: 80vh;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

.headingLink {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.summaryTextWrapper,
.form,
.resume {
  padding-bottom: 25px;
}

@media only screen and (min-width: 850px) {
  .summary {
    max-width: 75%;
  }

  .contentWrapper {
    display: flex;
  }

  .contentWrapper .form {
    width: 50%;
    padding-right: 80px;
  }

  .contentWrapper .socials {
    width: 50%;
  }
}

/* Icons */
.iconsList {
  padding-top: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  text-align: center;
  justify-content: space-between;
}

.iconsList .icon {
  padding-bottom: 15px;
}

.iconsList .icon p {
  margin-top: 10px;
}

.iconsList .icon i,
.iconsList .icon svg {
  color: white;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .iconsList .icon {
    width: 20%;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .iconsList .icon {
    width: 12.5%;
    padding-bottom: 0;
  }
}

/* Form */
.formInput {
  padding-bottom: 20px !important;
}

/* Material Ui overrides these classes so need to mark them with important to force them  */
.submitButton {
  background-color: #4bc598 !important;
  color: black !important;

  font-size: 1rem !important;
  text-transform: capitalize !important;

  width: 30% !important;

  transition: all 0.25s ease-out !important;
}

.submitButton:hover {
  background-color: #06e493 !important;

  font-size: 1.1rem !important;

  width: 35% !important;
}

.buttonWrapper {
  display: flex !important;
  justify-content: center !important;
}
