/* Section */
.aboutSection {
  padding: 50px 0;
  background-color: var(--bg-color-1);
  min-height: 80vh;
  padding-top: 10vh;
}

.sectionWrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

/* Heading */
.headingWrapper {
}

.headingLink {
  display: block;
  position: relative;
  top: -500px;
  visibility: hidden;
}

/* Content */
.contentTextWrapper {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .contentWrapper {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .contentTextWrapper {
    width: 70%;
  }
}

.moto h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}

.contentTextWrapper p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.heroImg {
  height: 17rem;
  width: 17rem;
}

/* Tablet */
@media only screen and (max-width: 1100px) {
  .wrapper {
    display: block;
    padding-top: 5rem;
  }

  .contentWrapper {
    display: inline;
  }

  .imageWrapper {
    height: auto;
    width: 100%;
  }

  .heroImg {
    margin-top: 1rem;
    height: 17rem;
    width: 17rem;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .aboutSection {
    padding-top: 7vh;
  }

  .heroImg {
    height: 10rem;
    width: 10rem;
  }
}

.goalsSection {
  padding-top: 1rem;
}

.goalsSection a {
  font-size: 1.1rem;
}
