.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.summaryWrapper {
  min-height: 50rem;
  width: 30%;
  padding: 1rem;
}

.summaryWrapper span p {
  line-height: var(--line-height);
  padding-bottom: 0.5rem;
}

.gridWrapper {
  min-height: 50rem;
  width: 70%;
  padding: 1rem;
}

/* Tablet */
@media only screen and (max-width: 850px) {
  .wrapper {
    display: inline;
  }

  .summaryWrapper {
    width: 100%;
    min-height: 0rem;
  }

  .gridWrapper {
    width: 100%;
    min-height: 0rem;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .wrapper {
    display: inline;
  }

  .summaryWrapper {
    width: 100%;
    min-height: 0rem;
  }

  .gridWrapper {
    width: 100%;
    min-height: 0rem;
  }
}
