.projectsSection {
  position: relative;
  padding: 50px 0;
  background-color: var(--bg-color-3);
  min-height: 80vh;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

.headingLink {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.profExpSummary,
.profProjGrid,
.pubProjSummary,
.pubProjGrid {
  padding-bottom: 25px;
}

.profExpSummary span p,
.pubProjSummary span p {
  margin-bottom: 10px;
}

.sectionImage {
  position: absolute;
  z-index: 1;
  width: 10rem;
  height: 10rem;
  left: 70%;
  bottom: -1%;
}
